{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Изтриване на задача{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white text-center">
                <h4 class="mb-0">Сигурен ли си, че искаш да изтриеш тази задача?</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-danger w-100 mt-3">Изтрий</button>
                    <a href="{% url 'task-list' %}" class="btn btn-secondary w-100 mt-2">Отказ</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
