{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Task Edit{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Edit task</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <a href="{% url 'task-edit' task.pk %}">
                        <a href="{% url 'task-details' task.id %}" class="btn btn-success w-100 mt-3">
                            Edit
                        </a>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
